.contact {
  width: 100%;
  background-image: url(../../../public/asset/img/contactBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 1rem 20px 1rem 20px;

    .content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .info {
        display: flex;
        flex-flow: column;

        .phone {
          display: flex;
          a {
            color: black;
          }
        }
        .email {
          display: flex;
          a {
            color: black;
          }
        }
        @media screen and (max-width: 600px) {
          .phone {
            font-size: 12px;
          }
          .email {
            font-size: 12px;
          }
        }
      }
      .left {
        padding-left: 20px;
      }
      @media screen and (max-width: 745px) {
        justify-content: center;
        .right {
          display: none;
        }
        .left {
          padding-left: 10px;
        }
      }

      img {
        height: 300px;
      }
      @media screen and (max-width: 450px) {
        padding: 50px 0 50px 0;
        img {
          height: 160px;
        }
        .left {
          padding-left: 8px;
        }
      }
    }
  }
}
