.about {
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    justify-content: center;
    padding: 2.5rem 0 2.5rem 0;
    @media screen and (max-width: 839px) {
      flex-direction: column;
      align-items: center;
    }
    .title {
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 0 10px 0 10px;
      @media screen and (max-width: 839px) {
        margin: 2rem 1rem 2rem 1rem;
        font-size: 1.9rem;
      }
    }
    .image {
      img {
        margin: 10px 10px 0 0;
        width: 450px;
        @media screen and (max-width: 500px) {
          /* Apply width of 300px when screen size is 500px or less */
          width: 350px;
        }
      }
    }
  }
}
