.hero {
  height: 500px;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.3)),
    url("../../../public/asset/img/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @media screen and (max-width: 745px) {
    height: 650px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.3)),
      url("../../../public/asset/img/homeLandscape.png");
  }

  .container {
    @media screen and (max-width: 745px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 3rem;
    }
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    .left {
      margin-left: 0.8rem;
      margin-right: 0.3rem;
      width: minmax(300px 500px);
      color: white;
      //background-color: darkgreen;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .logo {
        padding-top: 3rem;
        margin-bottom: 2rem;

        // jhadfk
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;

        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
        &:after {
          content: " ";
          display: block;
          border-bottom: 1px solid #c50000;
          border-top: 1px solid #c50000;
          height: 5px;
          background-color: #f8f8f8;
        }
        &::before {
          content: " ";
          display: block;
          border-bottom: 1px solid #c50000;
          border-top: 1px solid #c50000;
          height: 5px;
          background-color: #f8f8f8;
        }
      }
      .title {
        margin: 10px 0 10px 0;
        h1 {
          margin: 5px 0 5px 0;
        }
        span {
          margin: 5px 0 5px 0;
        }
      }
      button {
        margin-top: 10px;

        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        color: white;
        background-color: transparent;
        border-radius: 1rem;
        border: 1px solid transparent;

        backdrop-filter: blur(1rem);
        box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
        background-color: rgba(255, 255, 255, 0.1);

        border-top-color: rgba(255, 255, 255, 0.5);
        border-left-color: rgba(255, 255, 255, 0.5);
        border-bottom-color: rgba(255, 255, 255, 0.1);
        border-right-color: rgba(255, 255, 255, 0.1);
        color: white;
        padding: 0.5rem;
      }
    }
    .right {
      margin-left: 0.3rem;
      //background-color: bisque;
      height: auto;
      display: flex;
      justify-content: center;
      img {
        //background-color: red;
        display: flex;
        align-items: center;
        height: auto;
        width: 300px;
        object-fit: contain;
      }
    }
  }
}

/* For medium screens */
@media screen and (min-width: 768px) {
  .hero {
    .containeer {
      flex-direction: column;
    }
  }
}

/* For small screens */
@media screen and (min-width: 576px) {
  .hero {
    .containeer {
      flex-direction: column;
    }
  }
}

/* For extra-small screens */
@media screen and (max-width: 575px) {
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
